name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    ruff:
        name: Ruff
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                version: "0.6.12"
                enable-cache: true
                cache-dependency-glob: "uv.lock"

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version-file: ".python-version"
            
            - name: Install dependencies
              run: uv sync --all-extras --dev

            - name: Lint with Ruff
              run: uv run ruff check .
              continue-on-error: true